/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 5 févr. 2015, 08:11:29
    Author     : Devaud
*/

html, body{
    margin: 0px;
    padding: 0px;
    outline: 0px;
    height: 100%;
    background-color: #E2F6FD;
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
}

#page{
    height: 100%;
    width: 100%;
}

.sec-sup{
    width: 100%;
    height: 5%;

    background-color: #05B5F0;
}

.sec-left{
    width: 15%;
    height: 95%;

    float: left;

    background-color: #05B5F0;
}

.contenu{
    width: 85%;
    height: 95%;

    float: right;
}

.box{
    /*width: 40%;
    height: 50%;*/
    
    width: 650px;
    height: 400px;

    margin-left: 4%;
    margin-top: 4%;

    float: left;

    border: 1px #D0D0D0 solid;
}

.box-header{
    /*width: 100%;
    height: 10%;*/
    
    width: 650px;
    height: 40px;
    
    border-bottom: 1px #D0D0D0 solid;

    background-image: url(../ressources/cellh2.png);
    background-repeat: repeat-x;
}

.box-body{
    /*width: 100%;
    height: 90%;*/
    width: 650px;
    height: 350px;
}

.artic{
    /*width: 95%;
    height: 33%;*/
    
    width: 620px;
    height: 120px;
    
    border: 1px #D0D0D0 solid;
    margin: auto;
    margin-top: 1%;

    background-color: white;
}

.artic-affiche{
    /*width: 25%;
    height: 100%;*/
    
    width: 150px;
    height: 120px;

    float: left;

    border-right: 1px #D0D0D0 solid;
}

.artic-contenu{
    /*width: 74.6%;
    height: 100%;*/
    
    width: 469px;
    height: 120px;

    float: right;
    
    font-size: 14px;
}
/*
.artic .artic-contenu a{
    margin-left: 80%;
    padding: 1%;
    padding-left: 2%;
    padding-right: 2%;

    text-decoration: none;
    color: white;
    font-weight: bold;

    background-color: #3B81DE;
}

.artic .artic-contenu a:hover{
    background: #479ED7;
    color: black;

}*/

.artic-contenu ul{
    /*list-style: none;
    margin: 0px;
    padding: 0px;
    margin: 2%;*/
}

.picture{
    width: 70%;
    height: 90%;

    margin-top: 5%;
    margin-bottom : 5%;
    margin-left: 15%;
    margin-right: 15%;
}